body{
    background-color: rgb(15, 169, 177);
}
.menu{
  font-style: italic;  
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  text-align: center;
  margin: 10px;
  border-radius: 70px;
}
.menu h1{
    font-size: x-large;
}
#btn{
    border-radius: 50%;
}
.copyright{
    color:white;
}